pickleshare==0.7.5
cloudpickle==2.2.1
opencv-python
ultralytics
supervision
numpy
Pillow
easyocr
gtts
playsound
TTS
clip_interrogator
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
open3d
matplotlib
geocoder
geopy